##############################################
# Center Tool Macros
# Selects a tool and moves it to X=210 Y=220
# at a safe Z height for inspection/alignment.
##############################################

[gcode_macro CENTER_T0]
description: Select T0 (White) and centre at X=210 Y=220
gcode:
    CHECK_HOME
    Tool0
    G90
    G1 Z50 F3000
    G1 X210 Y220 F10000

[gcode_macro CENTER_T1]
description: Select T1 (Red) and centre at X=210 Y=220
gcode:
    CHECK_HOME
    Tool1
    G90
    G1 Z50 F3000
    G1 X210 Y220 F10000

[gcode_macro CENTER_T2]
description: Select T2 (Yellow) and centre at X=210 Y=220
gcode:
    CHECK_HOME
    Tool2
    G90
    G1 Z50 F3000
    G1 X210 Y220 F10000

[gcode_macro CENTER_T3]
description: Select T3 (Blue) and centre at X=210 Y=220
gcode:
    CHECK_HOME
    Tool3
    G90
    G1 Z50 F3000
    G1 X210 Y220 F10000
