##############################################
# Center Tool Macros
# Selects a tool and centres it at X=210 Y=220
# Z is not moved
##############################################

[gcode_macro CENTER_TOOL0]
description: Select T0 (White) and centre at X=210 Y=220
gcode:
    CHECK_HOME
    Tool0
    G90
    G1 X210 Y220 F10000

[gcode_macro CENTER_TOOL1]
description: Select T1 (Red) and centre at X=210 Y=220
gcode:
    CHECK_HOME
    Tool1
    G90
    G1 X210 Y220 F10000

[gcode_macro CENTER_TOOL2]
description: Select T2 (Yellow) and centre at X=210 Y=220
gcode:
    CHECK_HOME
    Tool2
    G90
    G1 X210 Y220 F10000

[gcode_macro CENTER_TOOL3]
description: Select T3 (Blue) and centre at X=210 Y=220
gcode:
    CHECK_HOME
    Tool3
    G90
    G1 X210 Y220 F10000
